* {
    
    box-sizing: border-box;
}
body{
    background-color: rgb(155, 106, 227);
}

.container {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.393);
    margin: 7% auto;
    border-radius: 20px 40px 20px 28px;
    -webkit-border-radius: 20px 40px 20px 28px;
    -moz-border-radius: 20px 40px 20px 28px;
    -ms-border-radius: 20px 40px 20px 28px;
    -o-border-radius: 20px 40px 20px 28px;
}

.headBox {
    text-align: center;
    color: rgb(231, 212, 255);
    background-color: rgb(56, 25, 87);
    border-radius: 20px 40px 0 0;
    -webkit-border-radius: 20px 40px 0 0;
    -moz-border-radius: 20px 40px 0 0;
    -ms-border-radius: 20px 40px 0 0;
    -o-border-radius: 20px 40px 0 0;
}
.headBox h2{
    padding: 0.6rem;
    font-size: 1.5rem;
    font-weight:700;
}
.messageLeft{
    background-color: rgb(91, 57, 164);
    width: 60% ;
    border-radius: 20rem;
    height: 3em;
    -webkit-border-radius: 20rem;
    -moz-border-radius: 20rem;
    -ms-border-radius: 20rem;
    -o-border-radius: 20rem;
    position: relative;
    display: block;
    float: left;
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1em rgb(194, 122, 253);
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
} 
.messageRight{
    background-color: rgb(161, 1, 253);
    width: 60% ;
    border-radius: 20rem;
    height: 3em;
    -webkit-border-radius: 20rem;
    -moz-border-radius: 20rem;
    -ms-border-radius: 20rem;
    -o-border-radius: 20rem;
    position: relative;
    display: block;
    margin-bottom: 20px;
    margin-top: 13%;
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.3em rgb(74, 1, 134);
    position: relative;
    margin-left: 20%;
    text-align: center;
}
p{
    text-align: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
}


input{
    width: 97%;
    height: 2rem;
    background-color: rgb(193, 128, 255);
    outline: none;
    border: 0;
    cursor: text;
    margin-bottom: 1rem;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    margin-right: 5px;


}
input:hover , input:active , input:visited{
    cursor:text;
    background:linear-gradient(to left, rgb(172, 39, 255) 50% , rgb(217, 156, 255));
}
input::placeholder{
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
input[type]{
    padding-left: 0.6rem;
}
input:focus{
    background:linear-gradient(to right, rgb(172, 39, 255) 50% , rgb(217, 156, 255));
}

button{
    background-color: transparent;
    outline: none;
    border: 0;
    position: relative;
    top: -50px;
    float: right;
    right: 10px;
}

/* css robot */
